<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SanityTest">
<!-- <listeners>
		<listener class-name="zoopla.uk.listener.ListenerTest" />
</listeners> 	 -->
   <test name="Zoopla.uk" >
      <classes>
         <class name="zoopla.uk.myrunner.MyRunner"/>
      </classes>
   </test>
</suite>

